<div id="readerPage" class="readerPage readerPage_LastPage" ng-click="handleRenderPageClick($event)">
   <div id="readerPage_InShelf" class="readerPage_InShelf">
      <div id="readerPageScroll" class="readerPageScroll" style="opacity: 1;">
         <div id="readerToolBar" class="readerToolBar readerToolBar_Expand" ng-click="$event.stopPropagation()" kindle-bottom>
            <span id="readerToolBar_nextPage" class="readerToolBar_nextPage" ng-click="nextPage($event)">下一页</span> 
            <span id="readerToolBar_prevPage" class="readerToolBar_prevPage" ng-click="prevPage($event)">上一页</span> 
            <span id="readerToolBar_shelf" class="readerToolBar_shelf" ng-click="toBook()">书架</span> 
            <!-- <span id="readerToolBar_note" class="readerToolBar_note" style="opacity: 1;">划线</span>  -->
            <!-- <span id="readerToolBar_noteList" class="readerToolBar_noteList">笔记</span>  -->
            <span id="readerToolBar_font" ng-click="openFontSettingModal()"
               class="readerToolBar_font">字体</span> 
               <span id="readerToolBar_catalog"
               class="readerToolBar_catalog" ng-click="openCategoryModal()">目录</span> 
               <span id="readerToolBar_cancelNote"
               class="readerToolBar_cancelNote">取消</span> 
               <span class="readerToolBar_tip">点击文字以选中</span></div> <!---->
         <div id="readerContent" class="readerContent" ng-class="'fontLevel' + config.fontLevel" style="top: 0px;"> 
            <div id="readerContentRenderContainer" class="readerContentRenderContainer randomFont" ng-style="{ top: renderTop + 'px' }">
               <h2 class="readerChapterTitle" style="text-align: center;">{{ catalog[bookItem.durChapterIndex].title }}</h2>
               <p ng-repeat="line in content track by $index">
                  {{ line }}
               </p>
            </div>
         </div>
      </div>
      <div id="readerCatalog" class="readerCatalog" ng-click="closeCategoryModal($event)" ng-style="categoryModal ? {left: '0px'} : ''">
         <div id="readerCatalog_content" class="readerCatalog_content">
            <div id="readerCatalog_header" class="readerCatalog_header">
               <!-- <span id="readerCatalog_scrollBottom"
                  class="readerCatalog_scrollBottom">去底部</span> -->
               <p class="readerCatalog_bookTitle">{{ bookItem.name }}</p>
            </div>
            <ul id="readerCatalog_list" class="readerCatalog_list" ng-style="{ top: catalogRenderTop + 'px' }">
               <li wr-data-uid="9" wr-data-anchor="" class="chapterItem" ng-click="onChapterClick($event, cat.index)" ng-class="cat.index == bookItem.durChapterIndex ? 'chapterItem_current' : ''" ng-repeat="cat in catalog track by cat.url">
                  <span style="" class="chapterItem_lock"></span>
                  <span class="chapterItem_link chapterItem_level2">{{ cat.title }}</span>
               </li>
            </ul>
            <div id="readerCatalog_tool" class="readerCatalog_tool" kindle-bottom><span id="readerCatalog_prevPage"
                  class="readerCatalog_prevPage" ng-click="onCatalogPrevPage($event)">上一页</span> <span id="readerCatalog_nextPage"
                  class="readerCatalog_nextPage" ng-click="onCatalogNextPage($event)">下一页</span></div>
         </div>
      </div>
      <!-- <div id="readerNoteList" class="readerNoteList">
         <div id="readerNoteList_content" class="readerNoteList_content">
            <div id="readerNoteList_header" class="readerNoteList_header"><span id="readerNoteList_scrollBottom"
                  class="readerNoteList_scrollBottom"></span>
               <p class="readerNoteList_chapterTitle">我的笔记</p>
            </div>
            <ul id="readerNoteList_list" class="readerNoteList_list"></ul>
            <div id="readerNoteList_empty" class="readerNoteList_empty">暂无笔记</div>
            <div id="readerNoteList_tool" class="readerNoteList_tool"><span id="readerNoteList_prevPage"
                  class="readerNoteList_prevPage">上一页</span> <span id="readerNoteList_nextPage"
                  class="readerNoteList_nextPage">下一页</span></div>
         </div>
      </div> -->
      <div id="readerFontSetting" class="readerFontSetting" ng-class="'fontSetting_Level' + config.fontLevel" ng-style="fontSettingModal ? {display: 'block'} : ''">
         <div id="readerFontMask" class="readerFontMask" ng-click="closeFontSettingModal($event)"></div>
         <div id="readerFontDialog" class="readerFontDialog"  ng-click="$event.stopPropagation()">
            <div class="header">
               <p>字体设置</p>
            </div>
            <div class="content" ng-click="onFontChange($event)"><span class="largeText">大</span> <span class="smallText">小</span>
               <div id="readerFontSettingBar" class="textLevel"><span id="level1" class="level1"></span> <span
                     id="level2" class="level2"></span> <span id="level3" class="level3"></span> <span id="level4"
                     class="level4"></span> <span id="level5" class="level5"></span> <em class="line"></em> <em
                     class="curLevel"></em></div>
            </div>
            <div class="font" ><label>字体选择</label>
               <select ng-model="myfont" ng-options="font.title for font in fonts track by font.key">
                  <!-- <option ng-repeat="font in fonts track by font.key" ng-value="font.key" ng-selected="font.key === myfont">{{ font.title }}</option> -->
               </select>
            </div>
         </div>
      </div>
      <!-- <div id="readerSelectionMenu" class="readerSelectionMenu"><span id="raederMenuAddNote"
            class="raederMenuAddNote">划线</span> <span id="readerMenuNext" class="readerMenuNext">选中下一句</span> <span
            id="raederMenuRemoveNote" class="raederMenuRemoveNote">删除划线</span></div> -->
      <div id="readerToast" class="readerToast">
         <p id="readerToast_text" class="readerToast_text"></p>
      </div>
      <div id="readerFooterNote" class="readerFooterNote">
         <p id="readerFooterNote_text" class="readerFooterNote_text"></p>
      </div>
      <div id="readerLastPage" class="readerLastPage">
         <p class="text">全书完</p>
         <p class="subText"></p>
      </div>
      <div id="readerLoading" class="readerLoading" ng-style="{ display: loading ? 'block' : 'none' }">
         <p id="readerLoading_percent" class="readerLoading_text">内容加载中...</p>
      </div>
      <div id="readerAssistDom" class="readerAssistDom">
         <div id="assist_contentPadding" style="width: 10pt;"></div>
         <div id="assist_catalogItemHeight" style="width: 24pt;"></div>
         <div id="assist_rectInset" style="width: 3pt;"></div>
      </div>
   </div>
</div>