<div id="shelfPage" class="shelfPage">
    <div id="shelfContentContainer" class="shelfContentContainer">
        <div class="shelfContentScroller">
            <div class="shelfBooksContainer">
                <div cellspacing="0" cellpadding="0" id="shelfTable" class="shelfBooksTable" ng-style="{ top: renderTop + 'px' }">
                    <div class="book" ng-repeat="book in shelfPage" ng-click="toDetail(book)">
                        <div class="cover-img"><img class="cover" ng-src="{{ getCover(book.coverUrl) }}" alt="" loading="lazy"></div>
                        <div class="info">
                            <div class="name">{{ book.name }}</div>
                            <div class="sub">
                                <div class="author">{{ book.author }}</div><!---->
                                <div class="update-info">
                                    <div class="dot">•</div>
                                    <div class="size">共{{ book.totalChapterNum }}章</div>
                                    <div class="dot">•</div>
                                    <div class="date">5天前</div>
                                </div>
                            </div><!---->
                            <div class="dur-chapter"> 已读：{{ book.durChapterTitle }}</div>
                            <div class="last-chapter">最新：{{ book.latestChapterTitle }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="shelfToolBar" class="shelfToolBar shelfToolBar_Expand" >
            <span id="shelfToolBar_setting" class="shelfToolBar_setting" ng-click="setting()">设置</span> 
            <span id="shelfToolBar_nextPage" class="shelfToolBar_nextPage" ng-click="nextPage()">下一页</span> 
            <span id="shelfToolBar_prevPage" class="shelfToolBar_prevPage" ng-click="prevPage()">上一页</span> 
        </div>
    </div>
    <div id="readerAssistDom" class="readerAssistDom">
        <div id="assist_contentPadding" style="width: 10pt;"></div>
        <div id="assist_catalogItemHeight" style="width: 24pt;"></div>
        <div id="assist_rectInset" style="width: 3pt;"></div>
     </div>
</div>